In [1]:
import pandas as pd

In [2]:
# alter df settings so that every line will be printed
pd.options.display.max_columns = 999
pd.options.display.max_rows = 999

In [4]:
# file names
full_AA_comparison = "test_activesite_AA_composition_at_5_Ang_cutoff_and_10_heavy_atom_ligand.csv"
full_AA_comparison_per_lig = "test_activesite_AA_composition_per_ligand_at_5_Ang_cutoff_and_10_heavy_atom_ligand.csv"

contact_counts = "test_contact_counts_5_Ang_cutoff_and_10_heavy_atom_ligand.csv"
contact_counts_per_lig = "test_contact_counts_per_lig_res_5_Ang_cutoff_and_10_heavy_atom_ligand.csv"

In [5]:
AA_comp_full = pd.read_csv( full_AA_comparison )
AA_comp_full

,PDB,num_lig_res,num_lig_atoms,num_lig_nonpolar_atoms,num_lig_polar_atoms,num_lig_unk_atom_type,num_activesite_res,num_activesite_atoms,num_activesite_nonpolar_atoms,num_activesite_polar_atoms,num_activesite_unk_atom_type,ALA,CYS,ASP,GLU,PHE,GLY,HIS,ILE,LYS,LEU,MET,ASN,PRO,GLN,ARG,SER,THR,VAL,TRP,TYR
0,154l,3,43,24,19,0,18,96,64,32,0,3,0,1,1,1,1,1,1,0,0,1,1,0,1,1,1,1,1,0,2
1,16pk,2,54,23,31,0,36,109,64,45,0,5,0,3,1,2,12,1,0,2,1,2,1,2,0,0,0,1,2,0,1

In [6]:
AA_comp_per_lig = pd.read_csv( full_AA_comparison_per_lig )
AA_comp_per_lig

,PDB,uniq_lig_res_names,lig_res_names,num_lig_atoms,num_lig_nonpolar_atoms,num_lig_polar_atoms,num_lig_unk_atoms,num_activesite_res,num_activesite_atoms,num_activesite_nonpolar_atoms,num_activesite_polar_atoms,ALA,CYS,ASP,GLU,PHE,GLY,HIS,ILE,LYS,LEU,MET,ASN,PRO,GLN,ARG,SER,THR,VAL,TRP,TYR
0,154l,NAG_A_187,NAG,14,8,6,0,13,48,33,15,2,0,1,0,1,1,1,1,0,0,1,1,0,1,0,1,0,1,0,1
1,154l,NAG_A_186,NAG,14,8,6,0,1,21,15,6,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,154l,NAG_A_188,NAG,15,8,7,0,4,27,16,11,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1
3,16pk,BIS_A_499,BIS,39,15,24,0,32,90,51,39,4,0,3,1,2,12,1,0,2,1,1,1,1,0,0,0,1,1,0,1
4,16pk,EPE_A_430,EPE,15,8,7,0,4,19,13,6,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0

In [7]:
CC_tot = pd.read_csv( contact_counts )
CC_tot

,pdb_names,num_lig_atoms,num_activesite_atms,num_polar_polar_contacts,num_polar_nonpolar_contacts,num_nonpolar_polar_contacts,num_nonpolar_nonpolar_contacts,num_unk_contacts
0,154l,43,96,46,77,65,79,0
1,16pk,54,109,92,155,49,90,0

In [8]:
CC_per_lig_tot = pd.read_csv( contact_counts_per_lig )
CC_per_lig_tot

,pdb_names,lig_names,num_lig_atms,num_activesite_atms,polar_polar_contacts,polar_nonpolar_contacts,nonpolar_polar_contacts,nonpolar_nonpolar_contacts,num_unk_contacts
0,154l,NAG_A_187,14,48,18,38,34,50,0
1,154l,NAG_A_186,14,21,6,17,4,17,0
2,154l,NAG_A_188,15,27,22,22,27,12,0
3,16pk,BIS_A_499,39,90,80,120,49,88,0
4,16pk,EPE_A_430,15,19,12,35,0,2,0